.aboutWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(40,43,48);
  padding: 10px;
  border-radius: 10px;
}

.switcher {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 12px;
  color: white;
}

.switcher>div {
  padding: 5px 20px;
  margin-bottom: -10px;
}

.switcher>div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.aboutWrapper>.text {
  background-color: rgb(114,137,218);
  padding: 5px;
  border-radius: 10px;
}

.text>div {
  padding: 5px;
}