.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.aboutWindow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: rgb(40,43,48);
  box-shadow: 0 0 10px rgb(40,43,48);
  padding: 10px;
  max-width: 50vw;
}

.switcher {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 14px;
  color: white;
}

.switcher>div {
  padding: 5px 15px;
  padding-bottom: 10px;
  margin-bottom: -20px;
  cursor: pointer;
}

.switcher>div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.aboutWindow>.text {
  background-color: rgb(114,137,218);
  padding: 15px 10px;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text>div {
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .aboutWindow {
    max-width: 90vw;
  }
  .switcher>div {
    cursor: none;
  }
}