.robotWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  min-height: 100px;
  max-width: 80%;
  position: relative;
  padding: 30px;
  padding-bottom: 15px;
  border-radius: 15px;
  color: white;
  animation: flash 10s infinite linear;
}

@keyframes flash {
  0% {
    box-shadow: 0 -15px 30px dodgerblue;
  }
  25% {
    box-shadow: 15px 0 30px dodgerblue;
  }
  50% {
    box-shadow: 0 15px 30px dodgerblue;
  }
  75% {
    box-shadow: -15px 0 30px dodgerblue;
  }
  100% {
    box-shadow: 0 0 50px dodgerblue;
  }
}

.robot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: greenyellow;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
}

.eyes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

.eye {
  width: 10px;
  height: 10px;
  background-color: black;
}

.mouth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  background-color: black;
  height: 15px;
  width: 35px;
  padding: 3px;
}

.topTeeth, .bottomTeeth {
  display: flex;
  justify-content: space-around;
  gap: 1px;
}

.topTeeth>div:first-child {
  border-top-left-radius: 1px;
}

.topTeeth>div:last-child {
  border-top-right-radius: 1px;
}

.bottomTeeth>div:first-child {
  border-bottom-left-radius: 1px;
}

.bottomTeeth>div:last-child {
  border-bottom-right-radius: 1px;
}

.tooth {
  background-color: greenyellow;
  height: 4px;
  width: 6px;
}