.headerWrapper {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  font-size: 30px;
  background-color:rgb(40,43,48);
  color: rgb(114,137,218);
  z-index: 200;
}

.logo {
  background-color: rgb(66,69,73);
  box-shadow: 0 0 5px rgb(54,57,62);
  padding: 5px;
  border-radius: 10px;
}