.myInput {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid yellowgreen;
  color: yellowgreen;
  background-color: black;
  font-weight: bold;
}

.myInput:focus {
  outline: none;
}

.myInput::placeholder {
  color: rgb(106, 149, 40);
}

.myInput:focus::placeholder {
  color: transparent;
}