.greetingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  font-weight: bold;
  animation: hiding 2s infinite linear;
  z-index: 300;
  background-color: dodgerblue;
}