* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(66,69,73);
  min-height: 100vh;
  max-width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-content {
  padding-top: 100px;
}